body{
    background-color: rgb(1, 1, 56);
    color: white;
    font-family: 'Roboto',Verdana, Tahoma, sans-serif;
   

}
main{
    position: fixed;
    top:50%;
    left:50%;

}
footer{
    position: fixed;
    top:1000px;
}